.btn {
  height: 50px;
  width: 50px;
  border: 1px black solid;
}

#equals {
  height: 50px;
  width: 50px;
  border: 1px black solid;
}

#output {
  height: 50px;
  width: 300px;
  border: 1px black solid;
}

#ac {
  height: 50px;
  width: 50px;
  border: 1px black solid;
  background-color: #5252ab;
}
